/* Đàm Trọng Nhân, MSSV:B1910113 */
.container{
    margin: 10px auto;
    width: 90%;
}

.list-items{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;
}
.list-head th{
    background-color: aqua;
    border: 1px solid black;
    padding: 3px;
}
:is(.list-foot, .list-body) :is(td, th)
{
    border: 1px solid black;
    padding : 3px;
}
.list-body tr:nth-child(even)
{
    background-color: #dddddd;
}
.list-body tr td:not(:nth-child(3))
{
    text-align: center;
}
.list-foot tr td{
    text-align: center;
    font-weight: bold;
}
.list-foot tr td:first-child{
    text-align: right;
    padding-right: 10px;
}
.list-foot tr:first-child td:last-child{
    background-color: url("../images/caro.jpg") center center border-box no-repeat;
    background-size: 65%;
}